<header class="bg-dark">
  <div class="container">
    <nav class="navbar">
      <div class="container-fluid">
          <a class="navbar-brand" href="#" >
            <i class="fa-brands fa-bootstrap fa-2xl text-white"></i>
          </a>
        <div>
          <ul class="nav">
            <li class="nav-item">
                <a class="nav-link d-flex flex-column text-white" aria-current="page" href="#"><i class="fa-solid fa-house-chimney text-white"></i> Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex flex-column text-white" aria-current="page" href="#"><i class="fa-solid fa-gauge text-white"></i> Tablero</a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex flex-column text-white" aria-current="page" href="#"><i class="fa-solid fa-table-cells text-white"></i> Ordenes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex flex-column text-white" aria-current="page" href="#"><i class="fa-solid fa-table-cells-large text-white"></i> Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex flex-column text-white" aria-current="page" href="#"><i class="fa-solid fa-user text-white"></i> Usuario</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
<app-login-area></app-login-area>
